.header {
  border-bottom: solid 1px #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-logo__accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__link {
  position: relative;
}

.site-nav__link-current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  display: block;
  background-color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

// Шапка контакты

.contact-links {
  display: flex;
  margin-left: auto;
  align-content: center;
}

.contact-links__item {
  display: flex;
  align-content: center;
}

.contact-links__icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}
.contact-links__contact:focus .contact-links__icon {
  fill: var(--accent-color);
}
.contact-links__item:hover .contact-links__icon {
  fill: var(--accent-color);
}

.contact-links__item + .contact-links__item {
  margin-left: 50px;
}

.contact-links__contact {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-links__contact:hover,
.contact-links__contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
