.nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: solid 1px #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu-link {
  position: relative;
}

.menu-link.current-link::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  display: block;
  background-color: var(--accent-color);
}

.site-nav .menu-link:hover,
.site-nav .menu-link:focus {
  color: var(--accent-color);
}

/*  Шапка контакты */

.contact-link {
  display: flex;
  margin-left: auto;
  align-content: center;
}

.contact-link .item {
  display: flex;
  align-content: center;
}

.contact-icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}
.contact:focus .contact-icon {
  fill: var(--accent-color);
}
.item:hover .contact-icon {
  fill: var(--accent-color);
}

.contact-link .item + .item {
  margin-left: 50px;
}

.contact-link .contact {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link .contact-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link .contact:hover,
.contact-link .contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
